<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/style.css">
    <h1>Loan Prediction Machine Learning Model</h1>
    <meta charset="utf-8">
    <title>Loan Prediction Machine Learning Model</title>
  </head>
  <body>
{%block content%}
<form  action="/result" method="POST">
<div class="column">
<p>&nbsp</p>
    <b>Gender:</b> <select name="Gender" style="margin-top:30px" required>
  <option value="Short Term">Woman</option>
  <option value="Long Term">Man</option>
</select>
      <p>&nbsp</p>
    <b>Married:</b> <select name="Married" style="margin-top:30px" required>
  <option value="Short Term">Yes</option>
  <option value="Long Term">No</option>
</select>
  <p>&nbsp</p>
    <b>Education:</b> <select name="Education" style="margin-top:30px" required>
  <option value="Short Term">Graduated</option>
  <option value="Long Term">Not graduated</option>
</select>
  <p>&nbsp</p>
<b>Self_Eployed:</b> <select name="Self_Eployed" style="margin-top:30px" required>
  <option value="Short Term">Yes</option>
  <option value="Long Term">No</option>
</select>
  <p>&nbsp</p>
    <b>Applicant income</b>
<input type="text" name="ApplicantIncome" style="margin-top:20px"required>
<p>&nbsp</p>
      <b>Coapplicant income</b>
<input type="text" name="CoapplicantIncome" style="margin-top:20px"required>
<p>&nbsp</p>
  <b>Loan amount term</b>
<input type="text" name="LoanAmountTerm" style="margin-top:20px"required>

<p>&nbsp</p>
<b>Credit history:</b>
<input type="text" name="Credit History" style="margin-top:20px"required>

<p>&nbsp</p>
<b>Propery area:</b>
<input type="text" name="Propery_Area" style="margin-top:20px"required>

<p>&nbsp</p>
<b>Loan amount log:</b>
<input type="text" name="LoanAmount_log" style="margin-top:20px"required>

<p>&nbsp</p>
<b>Total income :</b>
<input type="text" name="TotalIncome" style="margin-top:20px"required>
<p>&nbsp</p>
    <p>&nbsp</p>
<b>Total income log:</b>
<input type="text" name="TotalIncomeLog" style="margin-top:20px"required>
<p>&nbsp</p>
<p>&nbsp</p>
    </div>
<button type="submit" class="btn btn-primary" id="predict">Predict</button>
</form>
{%endblock%}
  </body>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
</html>
